/* Common Styles for Both Pages */
body {
  background-color: #f8f9fa;
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

body {
  background: #1E1F25;
}

.menu-bar ul {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
}
a{
  text-decoration: none;
}
.menu-bar li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
  min-width: 80px;
  margin: auto;
}

.menu-bar li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}

.menu-bar li:active {
  transform: translateY(4px);
}


.shameless-plug {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* Cart Styles */
.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cart-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cart {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.cart ul {
  padding: 1rem;
  margin-top: 1rem;
  list-style: none;
}

.cart li {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #eeeeee;
  border-radius: 5px;
}

.cart button {
  background-color: #ef816c;
  color: #ffffff;
  border: none;
  margin: 0rem 0.5rem ;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart button:hover {
  background-color: #e76449;
}


